.home-page {
    background-color: #5e86dd;
}

.lasagna-page {
    background-color: #f09e51;
}

.spaghetti-page {
    background-color: #51f059;
}

h1.header {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

h1.home {
    background-color: #4668d8;
    color: blanchedalmond;
}

h1.lasagna {
    background-color: #ce7247;
    color: #ffffff;
}

h1.spaghetti {
    background-color: #3eb944;
    color: #ffffff;
}

ul.recipes {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    list-style-type: none;
    padding: 10px 20px;
}

ul.home {
    background-color: #4668d8;
    border-left: 30px solid #0241ca;
}

ul.lasagna {
    background-color: #ce7247;
    border-left: 30px solid #6d2914;
    color: #6d2914;
}

ul.spaghetti {
    background-color: #3eb944;
    border-left: 30px solid #17581f;
    color: #17581f;
}

ul.home li {
    background-color: #4668d8;
}

ul.home li a {
    background-color: #4668d8;
    color: #3d3fa5;
}

ul.home li a:hover {
    color: #ffffff;
}

ol.recipes {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
    padding: 10px 20px;
}

ol.lasagna {
    background-color: #ce7247;
    border-left: 30px solid #6d2914;
    color: #6d2914;
}

ol.spaghetti {
    background-color: #3eb944;
    border-left: 30px solid #17581f;
    color: #17581f;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    border-radius: 15px;
}

h3.image-description {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

h3.lasagna {
    background-color: #8f3428;
    color: #ffffff;
    border-radius: 14px;
}

h3.spaghetti {
    background-color: #2e8f34;
    color: #ffffff;
    border-radius: 14px;
}

p.description {
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px 20px;
}

h2.titles {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 10px 20px;
}

h2.lasagna {
    background-color: #8f3428;
    color: #ffffff;
    border-radius: 14px;
}

h2.spaghetti {
    background-color: #2e8f34;
    color: #ffffff;
    border-radius: 14px;
}