* {
    background-color: #5e86dd;
}

h1.home {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    background-color: #4668d8;
    color: blanchedalmond;
    text-align: center;
    text-decoration: underline;
}

ul.recipes {
    background-color: #4668d8;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    list-style-type: none;
    border-left: 30px solid #0241ca;
    padding: 10px 20px
}

ul.recipes li {
    background-color: #4668d8;
}

ul.recipes li a {
    background-color: #4668d8;
    color: #3d3fa5;
}

ul.recipes li a:hover {
    color: #ffffff;
}